/* Add a text animation to the text inside the .animated-text class */
.animated-text {
    animation: fadeIn 1s ease, scaleUp 1 ease; /* You can adjust the animation properties */
    text-transform: capitalize; /* Capitalize the first letter of the text */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes scaleUp {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  /* CSS for the pop-up overlay */
